asgiref==3.7.2
black==23.9.1
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.3.0
click==8.1.7
distlib==0.3.7
Django==4.2
django-environ==0.10.0
django-filter==23.3
djangorestframework==3.14.0
factory-boy==3.3.0
Faker==19.10.0
filelock==3.12.4
identify==2.5.30
idna==3.4
importlib-metadata==6.8.0
isort==5.12.0
Markdown==3.4.4
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.11.2
petl==1.7.12
platformdirs==3.11.0
pre-commit==3.4.0
psycopg2-binary==2.9.6
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.8.0
urllib3==2.0.6
virtualenv==20.24.5
zipp==3.17.0
